footer#Page-Footer {
  background: #1B262C;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 20px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer#Page-Footer section h3 {
  margin: 0;
  display: inline-block;
}

footer#Page-Footer * {
  color: #e5e5e5;
}

footer#Page-Footer li {
  list-style-type: none;
  margin: 15px;
}

footer#Page-Footer h3::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 15px;
  background: #3282B8;
  margin-right: 10px;
}

footer#Page-Footer section.Footer-Contact {
  width: auto;
}

footer#Page-Footer section.Footer-Socials {
  width: auto;
}

footer#Page-Footer section.Footer-Socials ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer#Page-Footer section.Footer-Socials ul li {
  position: relative;
  list-style: none;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

footer#Page-Footer section.Footer-Socials ul li a {
  position: relative;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
  font-size: 30px;
  border-radius: 50%;
  color: #e2e2e2;
  -webkit-box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0, 0, 0, 0.2);
}

footer#Page-Footer section.Footer-Socials ul li a i {
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

footer#Page-Footer section.Footer-Socials ul li:hover {
  color: #fff;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 24px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2), 2px 24px 5px rgba(0, 0, 0, 0.2);
}

footer#Page-Footer section.Footer-Socials ul li span::before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background: #1877f2;
}

footer#Page-Footer section.Footer-Socials ul li:nth-child(2) span::before {
  background-color: #1DA1F2;
}

footer#Page-Footer section.Footer-Socials ul li:nth-child(3) span::before {
  background-color: #c32aa3;
}

footer#Page-Footer section.Footer-Links {
  width: auto;
}

footer#Page-Footer section.Footer-Links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

footer#Page-Footer section.Footer-Links div a {
  color: #3282B8;
  text-decoration: none;
}
/*# sourceMappingURL=footer-pageFooter.css.map */