footer#OpenClassrooms{
    background: darken(#1B262C, 10%);
    & p{
        color: #e5e5e5;
        width: 100%;
        text-align: center;
        padding: 5px;
        & a{
            color: #74C1F5;
            text-decoration: none;
        }
    }
}
