footer#Page-Footer{
    background: #1B262C;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    justify-content: space-around;
    & section{
        & h3{
            margin: 0;
            display: inline-block;
        }
    }
    & *{
        color: #e5e5e5;
    }
    & li{
        list-style-type: none;
        margin: 15px;
    }
    & h3::before{
        content:"";
        display: inline-block;
        width: 5px;
        height: 15px;
        background: #3282B8;
        margin-right: 10px;
    }
    section.Footer-Contact{
        width: auto;
    }
    section.Footer-Socials{
        width: auto;
        ul{
            position: relative;
            display: flex;
            &  li{
                position: relative;
                list-style: none;
                border-radius: 50%;
                transition: 0.5s;
                cursor: pointer;
                a{
                    position: relative;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: rgba(0,0,0,0.1);
                    text-decoration: none;
                    font-size: 30px;
                    border-radius: 50%;   
                    color: #e2e2e2;
                    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
                                        2px 2px 5px rgba(0, 0, 0, 0.2);
                    & i{
                        position: relative;
                        z-index: 2;
                        color: #fff;
                        font-size: 30px;
                        text-align: center;
                    }
                }
                &:hover{
                    color: #fff;
                    transform: translateY(-20px);
                    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
                                        2px 24px 5px rgba(0, 0, 0, 0.2);
                
                }
                & span::before{
                    content: '';
                    position: absolute;
                    z-index: 1;
                    top: 5px;
                    left: 5px;
                    width: 80%;
                    height: 80%;
                    border-radius: 50%;
                    border:2px solid rgba(0, 0, 0, 0.1);
                    background: #1877f2;
                }
                &:nth-child(2) span::before{
                    background-color: #1DA1F2;
                }
                &:nth-child(3) span::before{
                    background-color: #c32aa3;
                }
            }
        }
    }
    section.Footer-Links{
        width: auto;
        & div{
            display: flex;
            width: auto;
            flex-wrap: nowrap;
            & a{
                color: #3282B8;
                text-decoration: none;
            }
        }

    }
}