
@media screen and (max-width: 1200px){
    header#Page-Header{
        & h1{
            font-size: 5em;
        }
    }
    .formContainer .contactForm
    {
        width: 500px !important;
    }
    .formContainer .formBox{
        width: 500px !important;
        & div{
            & label{
                font-size: 1.1em !important;
            }
        }
    }
}


@media screen and (max-width: 1160px){
    nav ul.default-nav li a{
        font-size: 1.2em;
    }
}

@media screen and (max-width: 1002px){
    nav ul.default-nav li{
        display: none;
        &.toggle{
            display: flex;
            flex-direction: column;
            color: #bbe1fa;
            font-size: 2em;
            cursor: pointer;
            border: 1px solid #bbe1fa;
            border-radius: 10px;
            z-index: 2000;
            width: 60px;
            height: 60px;
            position: relative;
            align-items: center;
            justify-content: center;
            & .line{
                height: 4px;
                border-radius: 4px;
                width: 40px;
                background: #44acf2;
                margin: 5px 0;
                transition: all 0.4s;
            }
            &.active{
                & .line{
                    transition: all 0.4s;
                    background: red;
                }
                & .line:nth-child(1){
                    transform: rotate(-45deg) translate(-10px, 10px);
                }
                & .line:nth-child(2){
                    background: #1B262C;
                }
                & .line:nth-child(3){
                    transform: rotate(45deg) translate(-10px, -10px);
                }
            }
            
        }
    }
    section#MoviesSection{
        height: auto;
        & .movies-container{
            flex-direction: column ;
        }
    }

    footer#Page-Footer{
        flex-direction: column !important;
        align-items: flex-start !important;
        padding-left: 50px;
    }
    .popup{
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .popup .card-top{
        flex-direction: column!important;
        & .content {
            width: 100%!important;
            & .content-top{
                & h5{
                    font-size: 1.2em;
                }
            }
        }
        & .content .content-top .content-rating{
            position: absolute!important;
            right: 10px!important;
            bottom: -20px!important;
        }
    }
    .cardbottom{
        height: 100% !important;
        justify-content: space-between!important;
        & p{
            font-size: 0.8em;
        }
    }
}

@media screen and (max-width: 950px){
    #BookingSection{
        height: auto !important;
        padding-bottom: 0 !important;
    }
    #ContactSection{
        height: auto !important;
        padding: 100px 0 !important;
        padding-bottom: 0 !important;
        & h2{
            padding: 0 !important;
            padding-bottom: 20px !important;
        }
    }
    .formContainer{
        justify-content: center !important;
        width: 100% !important;
        & .bookingForm{
            width: 100% !important;
            & .formBox{
                width: 100% !important;
            }
        }
        & img{
            display: none !important;
        }
    }
    .formContainer{
        justify-content: center !important;
        flex-direction: column-reverse !important;
        width: 100% !important;
        padding-bottom: 75px !important;
        & .contactForm{
            width: 100% !important;
            & .formBox{
                margin: 0 !important;
                padding: 50px !important;
                width: 100% !important;
            }
        }
        & .image{
            height: 350px !important;
            width: 100% !important;
        }
        & img{
            display: none !important;
        }
    }
}

@media screen and (max-width: 850px){

    .article{
        width: 80% !important;
        height: auto !important;
        & p{
            font-size: 0.8em;
        }
    }
}

@media screen and (max-width: 800px){
    header#Page-Header{
        height: 70vh ;
        & h1{
            font-size: 4em ;
        }
        & h2{
            font-size: 1.3em ;
        }
        section#Intro{
            & p{
                font-size: 1.1em !important;
            }
        }
    }
    header.MoviesHeader{
        align-items: flex-start ;
        margin-bottom: 100px ;
        position: relative ;
        justify-content: flex-start ;
        & h2{
            width: 100vw ;
        }
        & button{
            position: absolute !important;
            top: 100% !important;
            margin: 0 !important;
            border-color: darken(#74C1F5, 10%) !important;
            width: 50% !important;
            background-color: darken(#74C1F5, 10%) !important;
            border-radius: 0 !important;
            border-top: 1px solid #111 !important;
            &:hover{
                background-color: darken(#74C1F5, 15%) !important;
            }
            &.movies-carousel-left{
                left:0  !important;
                border-right: 1px solid #111  !important;
            }
            &.movies-carousel-right{
                right: 0  !important;
            }
        }
    }
}

@media screen and (max-width: 700px){
    section#Intro{
        height: auto;
        padding: 20px 0 !important;
        & p{
            width: 80% !important;
            font-size: 1.2em !important;
        }
        & a{
            margin: 0 !important;
        }
    }
    .card-top{
        align-items: flex-start !important;
    }
}

@media screen and (max-width: 600px){

    header#MoviesHeader{
        & h2{
            font-size: 1em  ;   
        }
    }

    .popup{
        width: 100%!important;
        height: 100%!important;
        border-radius: 0px 0px 0px 0px !important;
    }
    .cookies{
        & p{
            font-size: 0.7em!important;
        }
    }

}

@media screen and (max-width: 536px){
    .section-title{
        font-size: 2em !important;
        margin: 0 !important;
    }
    header#Page-Header{
        height: auto!important;
        padding-bottom: 20px;
        & h1{
            font-size: 3em ;
        }
        & h2{
            font-size: 1em  ;
        }
    }
    section#NewsSection{
        height: auto !important;
        padding-bottom: 30px ​!important;
    }

    section#Intro{
        & a{
            font-size: 1.3em;
        }
    }

    header.MoviesHeader{
        & h2{
            font-size: 1em !important;
        }
    }
}

@media screen and (max-width: 400px){
    .cookies{
        padding: 10px 10px;
        & p{
            font-size: 0.5em!important;
        }
        & button{
            font-size: 0.8em!important;
        }
    }
}

@media screen and (max-width: 360px){

    header#Page-Header{
        & h1{
            font-size: 2.5em!important;
        }
        & h2{
            font-size: 0.9em !important;
        }
        & a{
            font-size: 1.5em !important;
        }
    }
    footer#Page-Footer{
        padding-left: 5px !important;
    }

    section#Intro{
        & h2{
            font-size: 1.4em !important;
        }
    }

    .article .article-info{
        display: none !important;
    }

    header.MoviesHeader{
        & h2{
            font-size: 0.7em !important;
        }
    }
    section#MoviesSection{
        & .movies-container{
            & .movie{
                height: 500px;
                width: 100%;
                & .thumbnail{
                    width: 95%;
                }
            }
        }
    }
    .bookingForm{
        height: auto;
    }
}

@media screen and(max-width: 300px){
    header#Page-Header{
        height: auto !important;
        padding: 50px 0 !important;
        & h1{
            font-size: 2em !important;
        }
        & h2{
            font-size: 0.7em !important;
        }
        & a{
            font-size: 1.5em !important;
        }
        padding-bottom: 25px !important;
    }
    .article{
        & h3{
            font-size: 1em !important;
        }
    }
    .formBox{
        padding: 10px !important;
    }
    .formContainer .contactForm .formBox{
        padding: 0 !important;
    }
    section#Intro{
        & a{
            font-size: 1em !important;
        }
    }
}

@media screen and(max-width: 250px){
    header#Page-Header{
        & a{
            font-size: 1em !important;
        }
    }
    nav{
        justify-content: center !important;
        & a{
            display: none !important;
        }
        & ul.default-nav li.toggle{
            width: 90vw !important;
            display: flex!important;
            align-items: center!important;
            justify-content: center!important;
        }
    }
    .mobile-nav{
        & li a{
            display:flex !important;
            justify-content: flex-end !important;
            & span{
                margin: 0 !important;
                padding: 0 !important;
                padding-right: 10px !important;
                text-align: right !important;
                font-size: 0.8em !important;
            }
        }
    }
}


/*============================Height======================*/

@media screen and(max-height: 1200px){
    section{
        height: auto !important;
    }
    header#Page-Header{
        padding-bottom: 10px !important;
    }
}

@media screen and(max-height: 750px){
    .popup{
        & .card-top .content .content-top h5{
            font-size: 01em!important;
            padding-bottom: 0!important;
        }
        & .card-top .content .tags tag{
            font-size: 0.7em!important;
        }
        & .cardbottom button{
            font-size: 0.7em !important;
        }
        & .cardbottom p{
            font-size: 0.7em !important;
        }
    }
    header{
        height: auto !important;
    }

}