#Movies {
  height: 0;
  width: 100%;
  background: transparent;
  position: absolute;
  margin-top: -100px;
}

section#MoviesSection {
  width: 100%;
  height: 800px;
  background: #11181C;
}

section#MoviesSection header {
  background: #74c1f5;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  font-weight: 500;
  font-size: 3.5em;
}

section#MoviesSection header button {
  margin: 0 30px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #111;
  background: transparent;
  cursor: pointer;
}

section#MoviesSection header button.disabled {
  cursor: not-allowed;
}

section#MoviesSection header button .fas {
  font-size: 3.5em;
}

section#MoviesSection .movies-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px;
  height: auto;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

section#MoviesSection .movies-container .movie {
  width: 350px;
  padding: 10px;
  border-radius: 20px;
  height: 670px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section#MoviesSection .movies-container .movie .imageBox {
  position: relative;
  overflow: hidden;
  height: 450px;
  margin-bottom: auto;
}

section#MoviesSection .movies-container .movie .imageBox:hover div.movie-desc {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.4s all ease-out;
  transition: 0.4s all ease-out;
}

section#MoviesSection .movies-container .movie .imageBox img {
  width: 100%;
  height: 450px;
}

section#MoviesSection .movies-container .movie .movie-desc {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  position: absolute;
  width: 330px;
  height: auto;
  text-align: left;
  background: #e5e5e5;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  visibility: hidden;
  opacity: 0;
  padding: 20px;
  -webkit-transition: 0.2s all ease-in;
  transition: 0.2s all ease-in;
}

section#MoviesSection .movies-container .movie .movie-desc h5 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

section#MoviesSection .movies-container .movie h4 {
  text-align: center;
  color: #e5e5e5;
  font-size: 1.5em;
  font-weight: 500;
}

section#MoviesSection .movies-container .movie p.movie-release,
section#MoviesSection .movies-container .movie p.movie-time {
  text-align: center;
  color: #e5e5e5;
}

section#MoviesSection .movies-container .movie p.movie-release i,
section#MoviesSection .movies-container .movie p.movie-time i {
  -webkit-filter: invert(0.95%);
          filter: invert(0.95%);
}

section#MoviesSection .movies-container .movie p.movie-release i::after,
section#MoviesSection .movies-container .movie p.movie-time i::after {
  content: '';
}

section#MoviesSection .movies-container .movie button {
  margin-top: 10px;
  color: #e5e5e5;
  background: #44acf2;
  border: 0;
  outline: 0;
  padding: 10px 20px;
  border-radius: 40px;
  font-weight: 700;
  font-size: 1.3em;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 1px solid transparent;
}

section#MoviesSection .movies-container .movie button:hover {
  background: #e5e5e5;
  color: #44acf2;
  border: 1px solid #111;
}
/*# sourceMappingURL=section-movies.css.map */