@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth !important;
}

html{
    width: 100vw;
    height: auto;
    overflow-x: hidden;
}
svg{
    height: 100%;
    width: 100%;
}

#Home{
    height: 0;
    width: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    margin-top: -98px;
    scroll-behavior: smooth;
}

.scroll-lock{
    overflow: hidden;
}

section{
    width: 100%;
    h2{
        overflow-wrap: break-word;
    }
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}

h2.section-title{
    color: #3282B8;
    font-size: 3em;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

/*
! ===============================Navigation================================*/
nav{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: #1b262c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & .nav-logo{
        color: #bbe1fa;
        text-decoration: none;
        font-weight: 800;
        letter-spacing: 2px;
        font-size: 3em;
        margin-left: 25px;
        transition: all 0.05s ease-out;
        &:hover{
            transition: all 0.05s ease-out;
            transform: scale(1.1);
        }
    }
    & ul.default-nav{
        display: flex;

        & li{
            margin: 0px 20px;
            list-style-type: none;
            & a{
                text-decoration: none;
                color: #bbe1fa;
                font-size: 1.45em;
                position: relative;
                transition: all 0.4s;
                cursor: pointer;
                &.active{
                    color: darken(#bbe1fa, 20%)
                }
                &:hover{
                    color: #3282b8;
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 3px;
                    bottom: -5px;
                    left: 0;
                    visibility: hidden;
                    background: #bbe1fa;
                    transition: all 0.2s ease-in-out;
                }
                &:hover::before{
                    visibility: visible;
                    width: 100%;
                }
                &::after{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 3px;
                    bottom: -5px;
                    left: 0;
                    visibility: hidden;
                    background: #3282b8;
                    transition: all 0.4s ease-in-out;
                }
                &:hover::after{
                    visibility: visible;
                    width: 100%;
                }
            }
        }
    }
}

.mobile-nav{
    display: flex;
    transform: translateX(100%);
    position: absolute;
    height: 100vh;
    width: 250px;
    z-index: 1000;
    top: 100px;
    right: 0;
    flex-direction: column;
    transition: transform 0.8s;
    &.active{
        transform: translateX(0%);
        transition: transform 0.8s;
        & li{
            position: relative;
            transform: translateX(00%);
        }
    }
    & li{
        height: calc(20vh - 20px);
        display: flex;
        width: 100%;
        align-items: center;
        list-style-type: none;
        transform: translateX(200%);
        transition: transform 0.5s ease-in;
        & a{
            border-top: 1px solid #000;
            border-left: 1px solid #000;
            color: #eee;
            text-decoration: none;
            font-size: 1.5em;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: background 1s ease, border-color 1s ease;
            background: lighten(#1B262C, 10%);
            &:hover{
                transition: background 0.1s ease, border-color 0.1s ease;
                background: #3282b8;
                border-color: #3282b8;
            }
            & span{
                border: 0;
                color: #eee;
                text-align: right;
                padding-left: 20px;
            }
        }
    }
}
/*===============================Header====================================*/
header#Page-Header{
    height: calc(100vh - 100px);
    margin-top: 100px;
    width: 100%;
    overflow-wrap: normal;
    display: flex;
    background: url("https://cdn.pixabay.com/photo/2016/03/23/17/33/curtain-1275200_960_720.png") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    & h1{
        width: 80%;
        max-width: 1200px;
        text-align: center;
        font-size: 7em;
        color: darken(#74C1F5, 10%);
    }
    & h2{
        word-break: break-word;
        color: #bbe1fa;
        font-size: 2em;
        text-align: center;
        width: 80%;
        overflow: normal;
    }
    & .header-button{
        background: darken(#74C1F5, 10%);
        text-decoration: none;
        color: #e5e5e5;
        padding: 10px 30px;
        font-size: 2em;
        margin-top: 25px;
        border-radius: 15px;
        transition: all 0.2s linear;
        border: 1px solid transparent;
        &:hover{
        background: #e5e5e5;color: darken(#74C1F5, 10%);
        border: 1px solid #111;                    
        }
    }
}
/*===============================Section-Intro=============================*/
section#Intro{
    height: 90vh;
    background: darken(#1B262C, 5%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & h2{
        width: 100%;
        text-align: center;
        padding-top: 20px;
    }
    & p{
        width: 600px;
        text-align: center;
        font-size: 1.7em;
        font-weight: 500;
        color:#BBE1FA;
        margin-bottom: 20px;
    }
    & a{
        background: darken(#74C1F5, 10%);
        text-decoration: none;
        color: #e5e5e5;
        padding: 10px 30px;
        font-size: 1.7em;
        margin-top: 25px;
        border-radius: 45px;
        transition: all 0.2s linear;
        border: 1px solid transparent;
        cursor: pointer;
        &:hover{
        background: #e5e5e5;color: darken(#74C1F5, 10%);
        border: 1px solid #111;   
        }
    }
}
/*===============================Section-News==============================*/
#News{
    height: 0px;
    width: 100%;
    background: transparent;
    position: relative;
    padding-top: -100px;
}

section#NewsSection{
    height: 90vh;
    background: lighten(#1B262C, 5%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    & h2{
        padding: 20px 0;
    }
    & .article{
        position: relative;
        width: 800px;
        height: 200px;
        background: #f5f5f5;
        margin: 10px;
        border-radius: 25px;
        padding:20px;
        & .article-info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            &::after{
                content:"";
                width: 100%;
                height: 1px;
                position: absolute;
                background: #25343C;
                top:25px;
            }
        }
        & h3{
            margin-top: 10px;
        }
        & p{
            & a{
                text-decoration: none;
                color: darken(#5CB7F3, 15%)
            }
        }
    }
}

/*===============================Section-Movies============================*/
#Movies{
    height: 0;
    width: 100%;
    background: transparent;
    position: absolute;
    margin-top: -100px;
}

section#MoviesSection{
        width: 100%;
        height: 800px;
        & header{
            background: lighten(#5CB7F3, 5%);
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            font-weight: 500;
            font-size: 3.5em;
            & button{
                margin: 0 30px;
                padding: 10px 20px;
                border-radius: 5px;
                border: 1px solid #111;
                background: transparent;
                cursor: pointer;
                &.disabled{
                    cursor: not-allowed;
                    & i{
                        color: #505050;
                    }
                }   
                & .fas{
                    font-size: 3.5em;
                }
            }
        }
        background: #11181C;
        & .movies-container{
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 20px;
            height: auto;
            width: 100%;
            flex-direction: row;
            position: relative;
            & .movie{
                width: 350px;
                padding: 10px;
                border-radius: 20px;
                height: 670px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-direction: column;
                & .imageBox{
                    position: relative;
                    overflow: hidden;
                    height: 450px;
                    margin-bottom: auto;
                    &:hover div.movie-desc{
                        transform-origin: bottom;
                        transform: translateY(0);
                        visibility: visible;
                        opacity: 1;
                        transition: 0.4s all ease-out;
                }
                & img{
                    width: 100%;
                    height: 450px;
                    }
                }
                .movie-desc{
                    transform-origin: bottom;
                    position: absolute;
                    width: 330px;
                    height: auto;
                    text-align: left;
                    background: #e5e5e5;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    transform: translateY(101%);
                    visibility: hidden;
                    opacity: 0;
                    padding: 20px;
                    transition: 0.2s all ease-in;
                    & h5{
                        font-size: 1.5em;
                        margin-bottom: 10px;
                    }
                }
                & h4{
                    text-align: center;
                    color: #e5e5e5;
                    font-size: 1.5em;
                    font-weight: 500;
                }
                & p.movie-release,
                & p.movie-time{
                    text-align: center;
                    color: #e5e5e5;
                    & i{
                        filter: invert(0.95%);
                        &::after{
                            content: '';
                        }
                    }
                }
                & button{
                    margin-top: 10px;
                    color: #e5e5e5;background: darken(#74C1F5, 10%);
                    border:0;
                    outline:0;
                    padding: 10px 20px;
                    border-radius: 40px;
                    font-weight: 700;
                    font-size: 1.3em;
                    cursor: pointer;
                    transition: all 0.2s linear;
                    border: 1px solid transparent;
                    position: relative;
                    &:hover{
                    background: #e5e5e5;color: darken(#74C1F5, 10%);
                    border: 1px solid #111;                    
                    }
                }
            }
        }
}
/*===============================Section-Booking===========================*/
#Booking{
    height: 0;
    width: 100%;
    background: transparent;
    position: absolute;
    margin-top: -100px;
}

section#BookingSection{
    height: 90vh;
    width: 100%;
    background: #25343C;
    padding-bottom: 100px;
    & h2{
        width: 100%;
        text-align: center;
    }
    & .formContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-top: 50px;
        & .bookingForm{
            & .formBox{
                background: #74C1F5;
                width: 700px;
                height: 700px;
                display: flex;
                padding: 50px;
                align-items: flex-start;
                flex-direction: column;
                & h3{
                    margin-bottom: 50px;
                }
                & .inputBox{
                    width: 100%;
                    margin-bottom: 20px;
                    & label{
                        font-weight: 500;
                        font-size: 1.5em;
                    }
                    & input{
                        background: transparent;
                        border:0;
                        width: 100%;
                        outline:0;
                        color: #111;
                        border-bottom: 1px solid black;
                        padding-left: 10px;
                        padding-bottom: 10px;
                        font-size: 1.2em;
                        font-weight: 500;
                        &::placeholder{
                            font-weight: 400;
                        }
                        &::-webkit-inner-spin-button{
                            -webkit-appearance: none;
                            -moz-appearance: none;
                        }
                        &[type="submit"]{
                            position: relative;
                            left:50%;
                            bottom: 10px;
                            width: auto;
                            transform: translateX(-50%);
                            font-size: 2em;
                            border: 1px solid transparent;
                            color: #74C1F5;
                            background: #e5e5e5;
                            padding: 10px 40px;
                            border-radius: 35px;
                            transition: all 0.2s linear;
                            cursor: pointer;
                            &:hover{
                                background: #fff;
                            }
                            &:active{
                                transform: translateX(-50%)scale(0.98);
                            }

                        }
                    }
                    & select{
                        width: 100%;
                        outline:0;
                    }
                }
            }
        }
        & img{
            width: 450px;
            height: 700px;
        }
    }
}
/**===============================Section-Contact===========================**/
#Contact{
    height: 0;
    width: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    margin-top: -98px;
}

section#ContactSection{
    position: relative;
    height: 90vh;
    width: 100%;
    background: #11181C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    & h2{
        width: 100%;
        text-align: center;
    }
    & .formContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        & .image{
            width: 450px;
            min-height: 95%;
            background: url("../resources/map.png") no-repeat center center/cover;
       }
        
        & .contactForm{
            background: #74C1F5;
            height: 95%;
            display: flex;
            padding: 20px;
            align-items: flex-start;
            flex-direction: row;
            width: 700px;

            & h3{
                margin-bottom: 20px;
            }
            & .inputBox{
                width: 100%;
                margin-bottom: 20px;
                & label{
                    font-weight: 500;
                    font-size: 1.5em;
                }
                & input{
                    background: transparent;
                    border:0;
                    width: 100%;
                    outline:0;
                    color: #111;
                    border-bottom: 1px solid black;
                    padding-left: 10px;
                    padding-bottom: 10px;
                    font-size: 1.2em;
                    font-weight: 500;
                    &::placeholder{
                        font-weight: 400;
                    }
                    &::-webkit-inner-spin-button{
                        -webkit-appearance: none;
                    }
                    &[type="submit"]{
                        position: relative;
                        left:50%;
                        bottom: 10px;
                        width: auto;
                        transform: translateX(-50%);
                        font-size: 2em;
                        border: 1px solid transparent;
                        color: #74C1F5;
                        background: #e5e5e5;
                        padding: 10px 40px;
                        border-radius: 35px;
                        transition: all 0.2s linear;
                        cursor: pointer;
                        &:hover{
                            background: #fff;
                        }
                        &:active{
                            transform: translateX(-50%)scale(0.98);
                        }

                    }
                }
                & textarea{
                    resize:none;
                    background: transparent;
                    border:0;
                    width: 100%;
                    height: 200px;
                    outline:0;
                    color: #111;
                    border-bottom: 1px solid black;
                    padding-left: 10px;
                    padding-bottom: 10px;
                    font-size: 1.2em;
                    font-weight: 500;
                    &::placeholder{
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
/*===============================Scroll-button===========================*/
a.scroll-top{
    visibility: hidden;
    position:fixed;
    bottom: 30px;
    right: 30px;
    color: #e5e5e5;
    border: 1px solid #e5e5e5;
    padding: 5px 10px;
    border-radius: 5px;
    background: transparent;
    backdrop-filter: blur(5px);
    border-top: 1px solid rgba(255,255,255,0.2);
    border-left: 1px solid rgba(255,255,255,0.2);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
    transition: all 0.2s ease-out;
    transform: translateY(0);
    &:hover{
        animation: float 2s ease-in-out infinite;
    }
}
@keyframes float{
    from{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-5px);
    }
    to{
        transform: translateY(0);
    }
}
/*===============================Page-Footer===============================*/
footer#Page-Footer{
    background: #1B262C;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    justify-content: space-around;
    & section{
        & h3{
            margin: 0;
            display: inline-block;
        }
    }
    & *{
        color: #e5e5e5;
    }
    & li{
        list-style-type: none;
        margin: 15px;
    }
    & h3::before{
        content:"";
        display: inline-block;
        width: 5px;
        height: 15px;
        background: #3282B8;
        margin-right: 10px;
    }
    section.Footer-Contact{
        width: auto;
    }
    section.Footer-Socials{
        width: auto;
        ul{
            position: relative;
            display: flex;
            &  li{
                position: relative;
                list-style: none;
                border-radius: 50%;
                transition: 0.5s;
                cursor: pointer;
                a{
                    position: relative;
                    width: 60px;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: rgba(0,0,0,0.1);
                    text-decoration: none;
                    font-size: 30px;
                    border-radius: 50%;   
                    color: #e2e2e2;
                    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
                                        2px 2px 5px rgba(0, 0, 0, 0.2);
                    & i{
                        position: relative;
                        z-index: 2;
                        color: #fff;
                        font-size: 30px;
                        text-align: center;
                    }
                }
                &:hover{
                    color: #fff;
                    transform: translateY(-20px);
                    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.2),
                                        2px 24px 5px rgba(0, 0, 0, 0.2);
                
                }
                & span::before{
                    content: '';
                    position: absolute;
                    z-index: 1;
                    top: 5px;
                    left: 5px;
                    width: 80%;
                    height: 80%;
                    border-radius: 50%;
                    border:2px solid rgba(0, 0, 0, 0.1);
                    background: #1877f2;
                }
                &:nth-child(2) span::before{
                    background-color: #1DA1F2;
                }
                &:nth-child(3) span::before{
                    background-color: #c32aa3;
                }
            }
        }
    }
    section.Footer-Links{
        width: auto;
        & div{
            display: flex;
            width: auto;
            flex-wrap: nowrap;
            & a{
                color: #3282B8;
                text-decoration: none;
            }
        }

    }
}
/*===============================Project-Footer============================*/
footer#OpenClassrooms{
    background: darken(#1B262C, 10%);
    & p{
        color: #e5e5e5;
        width: 100%;
        text-align: center;
        padding: 5px;
        & a{
            color: #74C1F5;
            text-decoration: none;
        }
    }
}
/*===============================Cookies===================================*/
.cookies{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 75px;
    width: 100%;
    z-index: 200;
    background: #080B0C;
    display: flex;
    align-items: center;
    padding: 0 25px 0 50px;
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    ///////////////////////////////////////////
    
    & p{
        width: 85%;
        color: #e5e5e5;
    }
    & button.accept{
        background: green;
        width: auto;
        border: 0;
        outline: 0;
        padding: 10px 20px;
        border-radius: 25px;
        color: #e5e5e5;
        font-size: 1.3em;
        cursor:pointer;
        transition: all 0.2s linear;
        &:hover{
            font-size: 1.35em;
        }
    }
}

/*===============================Pop-Ups===================================*/

.background{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background .popup{
    width: 50%;
    height: 90%;
    background: #eeeeee;
    position: relative;
    border-radius: 25px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;  
    &::-webkit-scrollbar{
        display:none;
    }
    & .card-top{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 10px;
        & .imageBox {
            width: 40%;
            height: 100%;
            margin-right: 15px;
            & img{
                width: 100%;
                height: 100%;
                border-radius: 15px;
            }
        }
        & .content{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            width: 60%;
            height: 100%;
            padding-top: 20px;
            &-top{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: auto;
                & h5{
                    font-size: 1.5em;
                    padding-bottom: 20px;
                    width: 280px;
                }
            }
            &-rating{
                height: 100%;
                width: auto;
                position: relative;
                & svg{
                    width: 100px;
                    height: 100px;
                    transform: rotate(-90deg);
                    & circle{
                        width: 100%;
                        height: 100%;
                        fill: transparent;
                        stroke-width: 10;
                        stroke: rgba(0,0,0,0.05);
                        stroke-linecap: round;
                        transform: translate(10px, 10px);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                & .rating-number{
                    position: absolute;
                    top: 34px;
                    right: 17px;
                    font-weight: 900;
                    font-size: 1.2em;
                    & sub{
                        top: 38px;
                    }
                }
            }
            & .tags{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                flex-wrap: wrap;
                & .tag{
                    margin: 2px 5px;
                    background: #74C1F5;
                    padding: 3px 10px;
                    border-radius: 15px;
                    width: auto;
                    height: auto;
                }
            }
        }
    }
    & .cardbottom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 60%;
        width: 100%;
        & p{
            margin-top: 15px;
            padding: 0 10px;
        }
        & button{
            border: 0;
            font-size: 1.5em;
            background: #74C1F5;
            padding: 10px 25px;
            border-radius: 35px;
            color: #111;
            cursor: pointer;
            font-weight: 500;
            &:hover{
                background: lighten(#74C1F5, 5%);
            }
        }
    }
}